body {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    text-align: center;
    padding: 8px;
    background-color: #be2a2a;

    display: none;
}

main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    min-width: 300px;
    margin: 0 auto;
}

section {
    margin-top: 24px;
}

span {
    cursor: default;
}

b {
    font-weight: 800;
}

#div-chat {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 225px;
    box-sizing: border-box;

    padding: 6px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

    border-width: 1px 0;
    border-style: solid;
    border-color: #be2a2a; 
    border-radius: 8px;
}

#chat-group {
    display: flex;
    border-width: 1px 0;
    border-style: solid;
    padding: 6px 0;
}

#chat-window {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 4px 0;
    line-height: 1.2;
}

#input-chat {
    width: 100%;
}

input, button {
    font-size: inherit;
    font-family: inherit;
    padding-left: 4px;
}

#div-mainPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div-mainPlay > div {
    margin-bottom: 16px;
}

#div-rps {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.rps-button {
    width: 150px;
    height: 150px;
    flex-shrink: 1;

    display: flex;
    justify-content: center;

    background-position: center;
    background-size: cover;

    overflow: hidden;
}

.clickable:hover {
    outline: 2px solid #be2a2a;
}

.rps-button-label {
    align-self: center;
    text-align: center;

    padding: 12px;
    background-color: white;
    opacity: 0.8;
    color: #be2a2a;
    font-weight: bolder;
}

#btnRock {
    background-image: url('../images/stone-img.jpg');
}

#btnPaper {
    background-image: url('../images/paper-img.jpg');
}

#btnScissors {
    background-image: url('../images/scissor-img.jpg');
}

#div-playerInfo {
    display: flex;
    justify-content: space-evenly;
}

#div-playerInfo > div {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.div-overlay {
    position: absolute;
    top: 150px;
    left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px 36px;
    background-color: white;

}

.dark {
    background-color: #be2a2a;
    border: 2px solid #be2a2a;
    color: white;
}

.light {
    border: 2px solid #be2a2a;
}

.hide {
    display: none;
}

.fade {
    opacity: 0.65;
}

header::after, section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px 0;
    background-color:#666666;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
    border-top: 3px solid #ccc;

    display: none;
}

.wf1 {
    /* border: 1px solid #333; */
    background-color: #ddd;
}

.wf2 {
    border: 1px solid #333;
    background-color: #ccc;
}

.wf3 {
    border: 1px solid #333;
    background-color: #777;
}

@media screen AND (min-width: 760px) {
    
    main {
        max-width: 900px;
        padding-right: 24px;
        top: 40px;
        bottom: 35px;
    }

    header {
        display: block;
    }

    footer {
        display: block;
    }

    #div-chat {
        position: static;
        float: right;
        width: 35%;
        box-sizing: border-box;
        height: 340px;

        border-width: 1px;
    }

    #div-mainPlay {
        float: right;
        width: 65%;
    }

    #span-name {
        font-size: 24px;
    }

    #span-opponent {
        font-size: 20px;
    }
}

@media screen AND (max-height: 575px) {
    #div-chat {
        display: none;
    }
}